body {
    text-align: center;
    font-family: sans-serif;
}
table {
    width: 600px;
    margin: 0 auto;
}
td{
    max-width: 200px;
    max-height: 200px;
    
    width: 200px;
    height: 200px;
    
    overflow: hidden;
}
img {
    width: 500px;
    border:2px solid #021a40;
	margin: 5px;
}
